<h1>Be nice with me Coach ! 🚀</h1>

<p>Ask something to your favorite coach</p>
<form action="/answer">
  <input type="text" placeholder="Ask something to the coach" name="question" id="box_search">
  <br>
  <input type="submit" value="Ask!" class="btn-gradient">
</form>
